.App{
  min-height: 100vh;
  background-color: #EFEFEF;
}

.container{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator{
  background: #139d8d;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 2px 3px rgba(7, 7, 7, 0.47); 
}

.generator__header{
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

.generator__password{
  position: relative;
  background: #0b6f64;
  padding: 13px 10px;
  color: white;
  height: 46px;
  margin-bottom: 15px;
}

.copy__btn{
  position: absolute;
  background: white;
  border: none;
  height: 40px;
  top: 3px;
  right: 3px;
  font-weight: bold;
}

.generator__btn{
  background: #0c6f64;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.form-group{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
}


@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


@media screen and (max-width:415px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  .container{
    width: 80%;
    height: 1000px;
    padding-top: 50px;
  }

  .generator{
    height: 100;
    background: #139d8d;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 2px 3px rgba(7, 7, 7, 0.47); 
  }
  .generator__password{
    position: relative;
    background: #0b6f64;
    padding: 13px 10px;
    color: white;
    height: 80px;
    margin-bottom: 5px;
    word-wrap: break-word;
  }

  .copy__btn{
    position: absolute;
    background: white;
    border: none;
    height: 20px;
    top: 3px;
    right: 3px;
    font-weight: bold;
  }
  
}
@media screen and (min-width:320px) and (max-width:640px) {
  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
  .container{
    width: 80%;
    height: 1000px;
    padding-top: 50px;
  }

  .generator{
    height: 100;
    background: #139d8d;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 2px 3px rgba(7, 7, 7, 0.47); 
  }
  .generator__password{
    position: relative;
    background: #0b6f64;
    padding: 13px 10px;
    color: white;
    height: 80px;
    margin-bottom: 5px;
    word-wrap: break-word;
  }

  .copy__btn{
    position: absolute;
    background: white;
    border: none;
    height: 20px;
    top: 3px;
    right: 3px;
    font-weight: bold;
  }
}